//@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext');
@import 'ng-material/app.toolbar';

html, body{
  height: 100%;
  overflow: hidden;
  // font-family: Arial, Helvetica, sans-serif
  // font-family: 'Anonymous Pro', monospace;
}

.screen-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.scroll-container {
  display: inline-flex;
  flex-flow: column nowrap;
  height: 100vh;
  // width: 49vw;
  overflow-y: hidden
}

.scrollable {
  display: block;
  height: 100vh;
  flex: 1 1 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-panel-container {
  width: 300px;
}

.main-panel-container {
  width: 100%;
}

footer {
  background-color: #f0f0f0;
}

span.brand-name {
  font-size: 24px;
  padding-left: 10px;
}

md-dialog-content > input {
  display:block;
}

md-dialog-actions {
  & > button, & > a {
    margin-left: 10px;
  }
}

