@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$light-primary: md-palette($md-teal, 700, 500, 900);
$light-accent:  md-palette($md-amber, A200, A100, A400);
$warn:          md-palette($md-red);

$light-theme: md-light-theme($light-primary, $light-accent, $warn);

@include angular-material-theme($light-theme);

.portfolio-dark {
  $dark-primary: md-palette($md-pink);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

