@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700i');

html, body{
  height: 100%;
  // font-family: Arial, Helvetica, sans-serif
  font-family: 'Anonymous Pro', monospace;
}

span.active {
  background-color: gray;
}

span.flex-fill {
  flex: 1 1 auto;
}

.modal-title {
  flex: 80% 1 auto
}
