@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//@import '~@angular/material/core/theming/all-theme';
@import 'app.palette';

@include mat-core();

$light-theme: mat-light-theme($light-primary, $light-accent, $warn);
$control-theme: mat-dark-theme($control-primary, $control-accent, $warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $warn);

@include jchptf-material-theme($light-theme, $control-theme);

.portfolio-dark {
  @include angular-material-theme($dark-theme);
}

.control-theme {
  @include angular-material-theme($control-theme);
}

//@include mat-toolbar-theme($control-theme)
