<div class="fixed-top" style="opacity:75%;" (mouseover)="showNav = true" (mouseout)="showNav = false">
  <md-toolbar class="control-theme mat-primary justify-content-start flex-align-center">
    <button mdMiniFab [mdMenuTriggerFor]="appMenu" class="mat-accent" mdTooltip="Tooltip!" mdTooltipPosition="below">
      <md-icon>menu</md-icon>
    </button>
    <span class="brand-name">{{navbarData.brandName}}</span>
    <button *ngIf="isLoggedIn()" mdMiniFab class="mat-accent ml-auto" (click)="onClickSettings()">
      <md-icon>settings</md-icon>
    </button>
    <span *ngIf="isLoggedIn()" class="ml-1">Hello, {{userInfo?.username}}</span>
    <button *ngIf="!isLoggedIn()" mdRaisedButton class="mat-accent ml-auto" (click)="onClickRegister()">
      <span mdTooltip="Tooltip!" mdTooltipPosition="below">REGISTER</span>
    </button>
    <button *ngIf="!isLoggedIn()" mdMiniFab class="mat-accent ml-1" (click)="onClickLogin()" mdTooltip="Tooltip!"
            mdTooltipPosition="left">
      <md-icon>cloud_off</md-icon>
    </button>
  </md-toolbar>
  <div [ngbCollapse]="showNav" [ngClass]="{show: showNav}">
    <nav mdTabNavBar class="mat-primary">
      <a *ngFor="let tabData of navbarData.tabs" mdTabLink
         [routerLink]="[tabData.routerLink]" routerLinkActive #rla="routerLinkActive"
         [active]="(rlaSafe && tabData.isDefault) || (rlaSafe && rla.isActive)"
         mdTooltip="Tooltip!" mdTooltipPosition="below">{{tabData.displayName}}</a>
      <!-- [active]="(!rlaSafe && tabData.isDefault) || (rlaSafe && rla.isActive)"
         mdTooltip="Tooltip!" mdTooltipPosition="below">{{tabData.displayName}}</a-->
    </nav>
  </div>
  <md-menu #appMenu="mdMenu">
    <button *ngFor="let menuData of navbarData.menuItems" mdMenuItem="mdMenu" [disabled]="menuData.disabled"
            [routerLink]="menuData.routerLink" mdTooltip="Tooltip!" mdTooltipPosition="after">
      <span><md-icon *ngIf="menuData.iconName > ''">{{menuData.iconName}}</md-icon>{{menuData.displayName}}</span>
    </button>
    <button mdMenuItem="mdMenu" disabled="true" mdTooltip="Tooltip!" mdTooltipPosition="after">
      <span><md-icon>settings</md-icon>Settings</span>
    </button>
    <button mdMenuItem="mdMenu" disabled="true" mdTooltip="Tooltip!" mdTooltipPosition="below">
      <span><md-icon>help</md-icon>Help</span>
    </button>
  </md-menu>
</div>
<canvas navballs #navballs height="64"></canvas>
