<div class="sticky-top">
  <md-toolbar class="md-primary">
    <h3>{{navbarData.brandName}}</h3>
    <!-- fill up the space between left and right area -->
    <span blank-area></span>
    <span *ngIf="isLoggedIn()">
      <button class="md-raised-button md-accent">SETTINGS</button>
      <h2>Hello, {{userInfo?.username}}</h2>
    </span>
    <span *ngIf="! isLoggedIn()">
      <button class="md-raised-button md-accent">REGISTER</button>
      <button class="md-raised-button md-primary">LOGIN</button>
    </span>
  </md-toolbar>
  <md-toolbar>
    <nav md-tab-nav-bar>
      <a md-tab-link *ngFor="let tabData of navbarData.tabs" [routerLink]="[tabData.routerLink]" routerLinkActive #rla="routerLinkActive" [active]="(!rlaSafe && tabData.isDefault) || (rlaSafe && rla.isActive)">{{tabData.displayName}}</a>
    </nav>
  </md-toolbar>
</div>
