<div class="navbar navbar-inverse navbar-fixed-top navbar-default" role="banner">
    <div class="navbar-header navbar-right">
        <a class="navbar-brand" href="#">{{navDataModel.brandName}}</a>
    </div>
    <ul class="nav navbar-nav navbar-left" role="navigation" bs-navbar>
        <li ng-repeat="tabModel in navDataModel.tabModels track by tabModel.displayLabel" data-match-route="{{tabModel.getMatchRoute()}}">
            <a ng-href="{{tabModel.clickRoute}}" ng-if="tabModel.isRouteBased()">{{tabModel.displayLabel}}</a>
            <a ui-sref="{{tabModel.clickState}}" ng-if="tabModel.isStateBased()">{{tabModel.displayLabel}}</a>
      </li>
    </ul>
</div>
